@font-face {
    font-family: 'Stolzl';
    src: url('../fonts/stolzl_regular.otf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham Pro';
    src: url('../fonts/gothampro_bold.ttf');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham Pro';
    src: url('../fonts/gothampro_black.ttf');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

/*
@font-face {
    font-family: 'Gotham Pro Black';
    src: url('../fonts/gothampro_black.ttf');
    font-weight: 400;
    font-display: swap;
}
*/

*{
    line-height: 150%;
}

header{
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #210E09;
}

a{
    display: block;
}

.flex{
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.first-screen{
    display: flex;
	justify-content: center;
    align-items: center;
    gap: 24px;
}

.shrinkcard{
    /* width: 1fr; */
	/* flex-shrink: 1; */
	width: 50%;
}

.card{
	width: 30%;
}

.grid{
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
}

.soonevents{
    display: grid;
    width: 22%;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "date1 date2"
    "img img"
    "img img";
}

.date1{
    grid-area: date1;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background-color: #D5621D1A;
}

.date2{
    grid-area: date2;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background-color: #D5621D0D;
}

.img{
    width: 100%;
    align-items: center;
}

.img_grid{
    display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
    grid-area: img;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #D5621D1A;
}

.wrap{
	flex-wrap: wrap;
}

.img_box{
	display: flex;
}

description{
	text-transform: none;
}


.button{
    font-family: 'Stolzl', sans-serif;
    font-size: 14px;
    color: #ffffff;
    border: 2px solid #D5621D;
    border-radius: 5px;
    /* gap: 10px; */
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

.text_button{
    font-family: 'Stolzl', sans-serif;
    font-weight: 400;
    padding: 15px 30px;
}

.icon_button{
    padding: 10px;
    width: 40px;
    height: 40px;
}

.arrow_button{
    padding: 15px;
    width: 50px;
    height: 50px;
}

.solid{
    font-family: 'Gotham Pro', sans-serif;
    font-weight: bold;
    font-size: 18px;
    background-color: #D5621D;
}

.links{
    color: #ffffff;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    /* line-height: 150%; */
    letter-spacing: 0%;
    text-decoration: none;
    text-transform: none;
}

.datelink{
    font-family: 'Gotham Pro', sans-serif;
    color: #ffffff;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    /* line-height: 150%; */
    letter-spacing: 0%;
    text-decoration: none;
    text-align: center;
}

.text{
    font-size: 14px;

}

nav{
    display: inline-block;
}

ul{
    display: inline-block;
}

nav ul li{
    display: inline-block;
}

main ul{
    display: grid;
}

.dish{
    display: flex;
	width: 486px;
	height: 111px;
}

.description{
    font-size: 14px;
    display: inline;
}

.heading_dish{
    font-size: 18px;
    height: 100%;
    padding: auto;
}

dish_info{
    width: 351px;
    height: auto;
}

price{
    border: 2px solid #D5621D;
    border-radius: 5px;
    display: inline-block;
    padding: 10px 20px 7px;
    float: right;
}

gramms{
    color: #D5621D;
    display: block;
}

desc-text{

}

.page{
    font-family: 'Stolzl', sans-serif;
    background-color: #210E09;
    color: #ffffff;
    text-transform: uppercase;
}

.square{
    width: 50px;
    height: 50px;
}

.disp-block{
    display: block;
}

.disp-flex{
    display:flex;
}

.disp-inline{
    display: inline-block;
}

.smooth{
    border-radius: 5px;
}

.five{
    background-color: #D5621D0D;
}

.sub{
    background-color: #D5621D1A;
}

.act{
    background-color: #D5621D;
}

.pos{
    position: absolute;
    top: 70%;
    left: 15%;
}

section{
    margin-top: 150px;
}

.heading{
	width: 32%;
    margin: 100px auto;
    text-align: center;
}

h1{
    display: inline-block;
    color: #210E09;
    background-color: white;
    border-radius: 5px;
    padding: 10px 20px 7px;
    font-size: 14px;
    text-align: center;
}

h2{
    color: white;
    font-size: 40px;
    text-align: center;
}


.center{
    text-align: center;
}

.copyrights{
	display: flex;
	justify-content: space-between;
}

/*width: 1305px;
.header{
    top: 30px;
    left: 312px;
}
height: 51px;*/

